.node {
    border-radius:100px;
    width:100%;
    border-color:blue;
    border-width: 3px;
    display:inline-block;
    text-align: center;
}

.treeTable {
    width:100%;
    border-color: black;
    border-width: 1px;
    border: dotted;
    text-align: center;
}

.treeTable td{
    border-width: thin;
    padding: 0;
}